# ============================================
# PhpStorm:
/.idea/
/.tmp/

# ============================================
# Less:
*.css.map

# ============================================
# Nette:
/log/*
/temp/*
/config/local.neon
/config/test.neon



/.htaccess
!README
# ============================================
# Other:
/www/dokumenty/
/www/images/carousel/
/vendor/
__pycache__/
*.pyc

config/phinx.yaml
config/phinx.php
