{varType App\Model\entities\User $profileUser}

{block content}
<div class="row">
    {include ../heading.latte}

    <div class="col-md-12">

            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li><a n:href="edit">{_'settings.edit_link'}</a></li>
                    {*<li><a href="#">Link</a></li>*}
                </ul>
            </nav>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{$profileUser->getDisplayName()}</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <td>
                                <span class="label label-default">{_'users.list.username'}:</span>
                            </td>
                            <td>
                                {$profileUser->getUsername()}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="label label-default">{_'settings.full_name'}:</span>
                            </td>
                            <td>
                                {$profileUser->getName()} {$profileUser->getSurname()}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-default">{_'users.form.email'}</span>
                            </td>
                            <td>
                                {$profileUser->getEmail()}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-default">{_'settings.notifications'}:</span>
                            </td>
                            <td>
                                {if $profileUser->areNotificationsEnabled()}<b>{_'settings.status.enabled'}</b>{else}{_'settings.status.disabled'}{/if}
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
    </div>

</div>
{/block}
