{varType App\Model\entities\User $profileUser}

{block content}
<div class="row">
    {include ../heading.latte}

    <div class="col-md-12">

            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li><a n:href="edit">Změna nastavení uživatele</a></li>
                    {*<li><a href="#">Link</a></li>*}
                </ul>
            </nav>

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{$profileUser->getDisplayName()}</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <td>
                                <span class="label label-default">Login:</span>
                            </td>
                            <td>
                                {$profileUser->getUsername()}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="label label-default">Jmeno a příjmení:</span>
                            </td>
                            <td>
                                {$profileUser->getName()} {$profileUser->getSurname()}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-default">Mail:</span>
                            </td>
                            <td>
                                {$profileUser->getEmail()}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-default">Posílání notifikací:</span>
                            </td>
                            <td>
                                {if $profileUser->areNotificationsEnabled()} <b>aktivní</b> {else} vypnuto {/if}
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
    </div>

</div>
{/block}
