{* This is the welcome page, you can delete it *}

{block content}

<div class="col-sm-12 text-left">
	{include ../heading.latte}
    <div class="container">
	<div class="row">
	    <div class="col-md-12">

			<nav class="navbar">
				<ul class="nav navbar-nav">
				<li><a n:href="default">Zpět na náhled</a></li>
					{*<li><a href="#">Link</a></li>*}
				</ul>
			</nav>

			<div class="card">
				<div class="card-header">
					<B>Změna údajů</B>
				</div>
				<div class="panel-body">
					{control profileForm}
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<B>Změna hesla</B>
				</div>
				<div class="panel-body">
					{control passwordForm}
				</div>
			</div>

	    </div>
	</div>
    </div>

</div>








{/block}

