<!DOCTYPE html>
<html lang="{$locale}">
<head>
    <meta charset="utf-8">
    <title>{ifset title}{include title|stripHtml} | {/ifset}{$applicationName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link href="{$basePath}/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/jquery-ui-1.13.2/jquery-ui.min.css">

    <script src="{$basePath}/js/jquery-3.7.1.js"></script>
    <script src="{$basePath}/jquery-ui-1.13.2/jquery-ui.min.js"></script>
</head>

<body>

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" n:href=":Dashboard:">{$applicationName}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeadLine"
                    aria-controls="navbarHeadLine" aria-expanded="false" aria-label="{_'nav.toggle'}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarHeadLine">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a n:class="nav-link, $presenter->isLinkCurrent(':Concerts:*') ? active" aria-current="page"  n:href=":Concerts:">{_'nav.concerts'}</a>
                    </li>
                    <li class="nav-item">
                        <a n:class="nav-link, $presenter->isLinkCurrent(':Songs:*') ? active" n:href=":Songs:">{_'nav.songs'}</a>
                    </li>
                    {if $user->isInRole('admin')}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {_'nav.administration'}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a n:class="dropdown-item, $presenter->isLinkCurrent(':Admin:Users:*') ? active" n:href=":Admin:Users:">{_'nav.users'}</a>
                                </li>
                            </ul>
                        </li>
                    {/if}
                </ul>


                <div class="d-flex navbar-nav">
                    {if $user->isLoggedIn()}
                        <span class="navbar-text">{_'nav.signed_in_as'}: <B>{$user->getIdentity()->name}</B>.&nbsp;</span>
                        <a n:class="nav-link, $presenter->isLinkCurrent(':Settings:*') ? active" n:href=":Settings:default"><i class="bi bi-gear"></i> {_'nav.settings'}</a>
                        <a n:class="nav-link, $presenter->isLinkCurrent(':Authentication:logout') ? active" n:href=":Authentication:logout"><i class="bi bi-box-arrow-right"></i>&nbsp;{_'nav.logout'}</a>
                    {else}
                        <a n:class="nav-link, $presenter->isLinkCurrent(':Authentication:login') ? active" n:href=":Authentication:login"><i class="bi bi-person-up"></i>&nbsp;{_'nav.login'}</a>
                    {/if}
                </div>



            </div>



        </div>
    </nav>
</header>

<main>

    {if $presenter->isLinkCurrent(':Dashboard:*') && isset($carouselImages) && $carouselImages}
        <style>
            .carousel .carousel-item {
                height: 600px;
            }

            .carousel-item img {
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
                min-height: 600px;
            }
        </style>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button n:foreach="$carouselImages as $image" type="button"
                        data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide-to="{$iterator->counter - 1}"
                        n:class="$iterator->first ? active"
                        aria-current="{$iterator->first ? 'true' : null}"
                        aria-label="{_'carousel.slide', number: $iterator->counter}"></button>
            </div>
            <div class="carousel-inner">
                <div n:foreach="$carouselImages as $image" n:class="carousel-item, $iterator->first ? active">
                    <img src="{$basePath}/images/carousel/{$image}" class="d-block w-100" alt="{_'carousel.photo'}">
                </div>
            </div>
            {if count($carouselImages) > 1}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{_'pagination.previous'}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">{_'pagination.next'}</span>
                </button>
            {/if}
        </div>
    {/if}

    <div class="container">

        <div class="row">
            <div n:foreach="$flashes as $flash" n:class="alert, $flash->type">{$flash->message}</div>
        </div>

        {include content}

    </div>
</main>


{block scripts}
    <script src="{$basePath}/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
{/block}
</body>
</html>
