{* This is the welcome page, you can delete it *}

{block content}

<div class="col-sm-12 text-left"> 
    {include ../../../templates/heading.latte}
    <div class="container">
	<div class="row">
	    <div class="col-md-12">
		<table class="table table-hover">
		    <thead>
				<tr>
					<th>
						{_'users.list.username'}
					</th>
					<th>
						{_'users.list.email'}
					</th>
					<th>
						{_'users.list.name'}
					</th>
					<th>
						{_'users.list.surname'}
					</th>
					<th>
						{_'users.list.notifications'}
					</th>
					<th>
						{_'common.actions'}
					</th>
				</tr>
		    </thead>
		    <tbody>

			<tr n:if="count($users) === 0">
				<td colspan="6" class="text-center">{_'users.list.empty'}</td>
			</tr>
			<tr n:foreach="$users as $listedUser">
			    <td>
					{$listedUser->getUsername()}
			    </td>
			    <td>
					{$listedUser->getEmail()}
			    </td>
			    <td>
					{$listedUser->getName()}
			    </td>
			    <td>
					{$listedUser->getSurname()}
			    </td>
			    <td>
					{if $listedUser->areNotificationsEnabled()}{_'common.yes'}{else}{_'common.no'}{/if}
			    </td>

			    <td>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							{_'common.options'}
						</button>
						<ul class="dropdown-menu">
                            <li><a class="dropdown-item" n:href="show, 'id'=> $listedUser->getId()">{_'common.preview'}</a></li>
                            <li><a class="dropdown-item" n:href="edit, 'id'=> $listedUser->getId()">{_'common.edit'}</a></li>
							<li>
								{var $deleteFormName = 'deleteForm-' . $listedUser->getId()}
								{form $deleteFormName, class: d-inline}
									{input send, class: 'dropdown-item'}
								{/form}
							</li>
						</ul>
					</div>
			    </td>

			</tr>

		    </tbody>
		</table>
	    </div>
	</div>
    </div>
				
				
		    <div class="panel panel-default">
			<div class="panel-body text-center">
			    
			    <a n:href="create" class="btn btn-info" role="button">{_'common.add_item'}</a>
			    
			    
			</div>
		    </div>
				

</div>

{include ../../../templates/Table/pagination.latte}

{/block}

