{* This is the welcome page, you can delete it *}

{block content}

<div class="col-sm-12 text-left"> 
    {include ../../../templates/heading.latte}
    <div class="container">
	<div class="row">
	    <div class="col-md-12">

			<nav class="navbar">
				<ul class="nav navbar-nav">
				<li><a n:href=":Admin:Users:">{_'common.back_to_list'}</a></li>
					{*<li><a href="#">Link</a></li>*}
				</ul>
			</nav>

			<div class="card">
				<div class="card-header">
					<B>{$editedUser->getUsername()}</B>
				</div>
				<div class="panel-body">
					{control editForm}
				</div>
			</div>
	    </div>
	</div>
    </div>

</div>








{/block}

